<!doctype html>
<html>
  <head>
    <title>Rasp API</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar">
      <a href="#!" onclick="window.history.back()" id="back-button">
        <i class="fas fa-chevron-left"></i>
      </a>
      <a href="/">
        <img src="images/logo-with-text.png" height="50"/>
      </a>
      <a href="#!" style='visibility: hidden;'>
        <i class="fas fa-bars"></i>
      </a>
      
    </nav>
    <div class="content">
      <%= yield %>
    </div>
    <div class="footer">
      ® Software developed by Klara Org. All rights reserved.
    </div>
    
  </body>

  <script>
    if (document.referrer === "" || !document.referrer.includes(window.location.hostname)) {
      var backButton = document.getElementById('back-button');
      backButton.style.visibility = 'hidden';
    }
  </script>

  <style>
    /* Elements */
    body {
      margin: 0;
      display: block;
      font-family: 'Ubuntu', sans-serif;
    }
    h1 {
      color: #930f35;
      font-size: 1.7em;
    }
    h2 {
      color: #560d21;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      color: #930f35;
    }

    /* Classes */
    .navbar {
      padding: 0 20px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
      width: 100%;
      top: 0;
      position: fixed;
      box-sizing : border-box;
      background-color: white;
      z-index: 10;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .navbar img {
      display: block;
      height: 50px;
      margin: auto auto;
    }
    .navbar a {
      padding: 10px;
      height: 100%
    }
    .content {
      margin: 5px;
      margin-top: 70px;
      overflow: auto;
      min-height: 70vh;
    }
    .footer {
      margin: 0;
      bottom: 0;
      padding: 10px;
      color: white;
      text-align: center;
      background: #400717;
    }
  </style>
</html>