<h1>Equipment Info</h1>
<div>
  <p><b>Setup Code: </b> <%="#{Rasp.datasheet[:setup_code]}"%></p>

  <p><b>Setup Date: </b> <%="#{Rasp.datasheet[:setup_date]}"%></p>

  <!-- <p><b>Geolocation: </b> <%="#{Rasp.datasheet[:geolocation]}"%></p> -->
</div>
<div class="button-wrapper">
	<a href="/" class="home-button">
	  <div class="icon-wrapper">
	    <i class="fas fa-home page-link"></i>
	  </div>
	  <p>Main Menu</p>
	</a>
</div>

<style scoped>
div {
  padding: 10px;
}
p {
  word-break: break-all;
}
.page-link {
  font-size: 32px;
  background: -webkit-linear-gradient(#bd1445, #400717);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.home-button {
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.home-button p {
  margin: auto auto;
}
.icon-wrapper {
  width: 70px;
  text-align: center;
  padding-left: 0px;
}
</style>
