<h1>Register Your Equipment</h1>

<div id="camera-scan">
    <h2>Scan from camera</h2>
    <div id="video">
        <video muted autoplay playsinline id="qr-video"></video>
        <div class="background"></div>
        <canvas id="debug-canvas"></canvas>
    </div>
    <div>
        <input type="checkbox" id="debug-checkbox">
        <span>Show debug image</span>
    </div>
    <b>Detected QR code: </b>
    <span id="cam-qr-result">None</span>
    <hr>
</div>

<div id="file-scan">
    <h2>Scan from file:</h2>
    <p>Take a photo from the QR Code using the selector bellow.</p>
    <input type="file" id="file-selector">
    <b>Detected QR code: </b>
    <span id="file-qr-result">None</span>
</div>

<script type="module">
if (navigator.mediaDevices.getUserMedia) {
   // Request the camera.
   var constraints = { audio: false, video: { width: 100, height: 500 } };
   navigator.mediaDevices.getUserMedia(constraints)
       .then(function (stream) {
            
       })
       .catch(function (err) {
           var cameraScan = document.getElementById('camera-scan')
           cameraScan.style.display = 'none';
       });
} else {
    alert('Sorry, your browser does not support getUserMedia');
}

import QrScanner from "../qr-scanner.min.js";
const video = document.getElementById('qr-video');
const debugCheckbox = document.getElementById('debug-checkbox');
const debugCanvas = document.getElementById('debug-canvas');
const debugCanvasContext = debugCanvas.getContext('2d');
const camQrResult = document.getElementById('cam-qr-result');
const fileSelector = document.getElementById('file-selector');
const fileQrResult = document.getElementById('file-qr-result');

function registerEquipment(label, result) {
    fetch("http://" + window.location.hostname + ":8000/register/" + result)
    .then((response) => {
        if(response.status === 201 || response.status === 304) {
            window.location = "/equipment";
        } else {
            alert("Error: " + response.statusText)
        }
    })
    .catch(error => alert(error));
    label.textContent = result;
    label.style.color = 'teal';
    clearTimeout(label.highlightTimeout);
    label.highlightTimeout = setTimeout(() => label.style.color = 'inherit', 100);
}

// ####### Web Cam Scanning #######
const scanner = new QrScanner(video, result => registerEquipment(camQrResult, result));
scanner.start();

// ####### File Scanning #######
fileSelector.addEventListener('change', event => {
    const file = fileSelector.files[0];
    if (!file) {
        return;
    }
    QrScanner.scanImage(file)
    .then(result => registerEquipment(fileQrResult, result))
    .catch(e => registerEquipment(fileQrResult, e || 'No QR code found.'));
});

// ####### debug mode related code #######
debugCheckbox.addEventListener('change', () => setDebugMode(debugCheckbox.checked));
function setDebugMode(isDebug) {
   const worker = scanner._qrWorker;
   worker.postMessage({
       type: 'setDebug',
       data: isDebug
   });
   if (isDebug) {
       debugCanvas.style.display = 'block';
       worker.addEventListener('message', handleDebugImage);
   } else {
       debugCanvas.style.display = 'none';
       worker.removeEventListener('message', handleDebugImage);
   }
}
function handleDebugImage(event) {
   const type = event.data.type;
   if (type === 'debugImage') {
       const imageData = event.data.data;
       if (debugCanvas.width !== imageData.width || debugCanvas.height !== imageData.height) {
           debugCanvas.width = imageData.width;
           debugCanvas.height = imageData.height;
       }
       debugCanvasContext.putImageData(imageData, 0, 0);
   }
}
</script>

<style scoped>
#qr-video, #debug-canvas{
    width: 90vw;
    margin-bottom: 5px;
}
#video, #debug-canvas {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#video {
    position: relative;
}
.background{
    position: absolute;
    top: 0;
    width: 90vw;
    height: calc(90vw * 0.5625);
    right: calc((100% - 90vw)/2);
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);

    -webkit-clip-path: polygon(0% 0%, 0% 100%, 29% 100%, 29% 22%, 69% 22%, 69% 82%, 29% 82%, 29% 100%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 29% 100%, 29% 22%, 69% 22%, 69% 82%, 29% 82%, 29% 100%, 100% 100%, 100% 0%);
}
canvas {
    display: none;
}
hr {
    margin-top: 32px;
}
input[type="file"] {
    display: block;
    margin-bottom: 16px;
}
div {
    margin-bottom: 16px;
}
</style>