<div class="list">
<% if Rasp.datasheet %>
  <a href="/equipment" class="list-item">
    <div class="icon-wrapper">
      <i class="fas fa-info-circle page-link"></i>
    </div>
    <p>Equipment Info</p>
  </a>
  <a href="/download/datasheet" class="list-item">
    <div class="icon-wrapper">
      <i class="fas fa-clipboard-list page-link"></i>
    </div>
    <p>Download Datasheet</p>
  </a>
  <a href="/download/samples" class="list-item">
    <div class="icon-wrapper">
      <i class="fas fa-download page-link"></i>
    </div>
    <p>Download Samples</p>
  </a>
  <a href="/wifi_setup" class="list-item">
    <div class="icon-wrapper">
      <i class="fas fa-wifi page-link"></i>
    </div>
    <p>Wi-Fi Setup</p>
  </a>
<% else %>
  <a href="/register" class="list-item">
    <div class="icon-wrapper">
      <i class="fas fa-sign-in-alt page-link"></i>
    </div>
    <p>Register Equipment</p>
  </a>
<% end %>
</div>

<style>
.page-link {
  font-size: 45px;
  background: -webkit-linear-gradient(#bd1445, #400717);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.list {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.list-item {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.list-item p{
  margin: auto auto;
}
.icon-wrapper {
  width: 70px;
  text-align: center;
}
</style>